$default-font : 'Montserrat',Arial, sans-serif;
$theme-color:#3b73b9;
$second-color: #3366CE;

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
    z-index: 1;
    font-size: 12px;
    background-color: $theme-color;
    color: #f1f1f1;
    width: 100%;
    height:40px;
    padding: 0;
    letter-spacing: 1px;

    a{
        text-decoration:none;
        padding:10px 0px 9px 0px !important;
        border-bottom:none;
        display:inline-block;
        color:white;

        &:hover {
            border-bottom:none;
            color:#00b0ec;
            cursor:pointer;
        }
        &.active {
            background-color: $second-color;
            color:#00b0ec;
            }
    }
}
